.carousel-container {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
 
}

.carousel-item img {
  height: 400px;
  object-fit: cover; 
  border-radius: 6px;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
