.container-clima {
  text-align: center;
  color: white;
  margin: 0 auto;
  padding: 20px;
}
 
.container-clima h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.form-clima h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.clima-card {
  color: var(--blanco-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  border-radius: 6px;
  backdrop-filter: blur(10px);
  background-color: rgba(237, 237, 237, 0.282);
  border: 1px solid rgba(255, 255, 255, 0.089);
  max-width: 450px;
  margin: 0 auto;
}

.conteiner-img,
.conteiner-temp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteiner-temp .temp {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0px;
  padding-bottom: 0px;
  height: 60px;
}

.conteiner-temp .weather {
  margin-bottom: 0px;
  text-transform: capitalize;
}

.conteiner-img img {
  width: 130px;
  height: 130px;
}

.clima-card .conteiner-img,
.clima-card .conteiner-temp {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.clima-card .conteiner-img-temp {
  display: flex;
  align-items: center;
}

.city {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0px;
}

.minmaxContainer {
  background-color: rgba(50, 50, 50, 0.163);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.minText,
.maxText {
  font-size: 18px;
  font-weight: bold;
}

.minTemp,
.maxTemp {
  font-size: 18px;
}
.humedad-viento {
  margin-top: 1rem;
  text-align: left;
}
