.formulario-login-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente si deseas */
  color: var(--blanco-1);
  padding: 20px; /* Espaciado interno opcional */
}
.formulario-titulo {
  display: block;
  font-size: 20px;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
}
.formulario-login {
  width: 500px;
  background-color: var(--blanco-1);
  padding: 1rem;
  color: var(--negro-1);
  border-radius: 10px;
}
.formulario-login select {
  background-color: var(--blanco-4);
  font-size: 14px;
  color: var(--negro-1);
  border-radius: 4px; /* Esquinas redondeadas */
  height: 38px;
  border: 1px solid var(--gris-5);
}

.formulario-login select:focus {
  background-color: var(--blanco-4);
  font-size: 14px;
  box-shadow: none;
  border: 1px solid var(--gris-5);
}

.formulario-login input {
  appearance: none;
  background-color: var(--blanco-4); /* Color de fondo */
  color: var(--negro-1); /* Color del texto */
  border: 1px solid var(--gris-5);
  height: 38px;
}

.formulario-login input:focus {
  background-color: var(--blanco-4); /* Color de fondo */
  color: var(--negro-1);
 
  box-shadow: none; /* Eliminar cualquier sombra al hacer focus */
  border: 1px solid var(--gris-5);
}

.formulario-login input::placeholder {
  color: var(--gris-4); /* Color del texto del placeholder */
}

/* styles.css */
.input-group-text {
  background-color: var(--blanco-4); /* Color de fondo */
  border: 1px solid var(--gris-5);
}

.custom-icon {
  color: var(--azul-2); /* Color del icono */
}
