.formulario-login-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente si deseas */
  color: var(--blanco-1);
  padding: 20px; /* Espaciado interno opcional */
}

/* styles.css */
.input-group-text {
  background-color: var(--blanco-4); /* Color de fondo */
  border: 1px solid var(--gris-5) ;
}

.custom-icon {
  color: var(--azul-2); /* Color del icono */
}


.formulario-titulo {
  display: block;
  font-size: 20px;
  text-align: center;
  margin-bottom: 1rem;
}
.formulario-login {
  width: 500px;
  background-color: var(--blanco-1);
  padding: 1rem;
  color: var(--negro-1);
  border-radius: 20px;
}

.formulario-login button {
  background-color: var(--verde-azul-3);
  border: none;
  padding: 10px 20px;
}
.formulario-login button:hover {
  background-color: var(--verde-azul-4);
  border: none;
}

.formulario-login select{
  background-color: var(--blanco-4);
  font-size: 14px;
  color: var(--negro-1);
  border-radius: 4px; /* Esquinas redondeadas */
  padding: 10px;
  border: 1px solid var(--gris-5) ;
}

.formulario-login select:focus{
  background-color: var(--blanco-4);
  font-size: 14px;
  color: var(--negro-1);
  border-radius: 4px; /* Esquinas redondeadas */
  padding: 10px;
  box-shadow: none;
  border: 1px solid var(--gris-5) ;
}


.formulario-login input {
  appearance: none; 
  font-size: 14px;
  background-color: var(--blanco-4); /* Color de fondo */
  color: var(--negro-1); /* Color del texto */
  border-radius: 4px; /* Esquinas redondeadas */
  padding: 10px; /* Espaciado interno */
  border: 1px solid var(--gris-5) ;
}

.formulario-login input:focus {
  background-color: var(--blanco-4); /* Color de fondo */
  color: var(--negro-1);
  outline: none; /* Eliminar el brillo */
  box-shadow: none; /* Eliminar cualquier sombra al hacer focus */
  border: 1px solid var(--gris-5) ;
}

.formulario-login input::placeholder {
  color: var(--gris-4); /* Color del texto del placeholder */
}
