.container-peliculas {
  max-width: 100%;
  margin: 0 auto;
  color: var(--blanco-1);
  padding: 20px;
}

.container-peliculas h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.container-peliculas form {
  display: flex;
  justify-content: center;
}

.container-peliculas input[type="text"] {
  width: 100%;
  border-radius: 6px;
}

.form-control,
.btn {
  height: 38px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 100fr));
  gap: 20px;
}

.movie-card {
  padding: 10px 10px;
  border-radius: 6px;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.278);
  border: 1px solid rgba(255, 255, 255, 0.089);
  height: 450px;
  overflow: auto;
}

.movie-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.movie-card .titulo-pelicula {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  color: var(--blanco-1);
}

.movie-card .sinopsis-pelicula {
  font-size: 15px;
  color: var(--blanco-1);
  text-align: justify;
}

@media (max-width: 600px) {
  .container-peliculas h1 {
    font-size: 20px;
  }

  .container-peliculas input[type="text"] {
    width: 100%;
  }

  .container-peliculas button {
    padding: 8px 16px;
  }

  .movie-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .movie-card {
    padding: 10px;
  }

  .movie-card h2 {
    font-size: 16px;
  }
}
