.container {
  max-width: 1000px;
  margin: 0 auto;
  color: var(--blanco-1);
  padding: 20px;
}

.container h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.container form {
  display: flex;
  justify-content: center;
}

.container input[type="text"] {
  width: 100%;
  border-radius: 6px;
}

.form-control,
.btn {
  height: 38px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.movie-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.movie-card h2 {
  font-size: 18px;
  margin-bottom: 5px;
  color: var(--negro-1);
}

.movie-card p {
  margin-bottom: 5px;
  color: var(--negro-1);
}

@media (max-width: 600px) {
  .container h1 {
    font-size: 20px;
  }

  .container input[type="text"] {
    width: 100%;
  }

  .container button {
    padding: 8px 16px;
  }

  .movie-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .movie-card {
    padding: 10px;
  }

  .movie-card h2 {
    font-size: 16px;
  }
}
