.navbar.navbar-expand-lg {
  background-color: rgb(51, 57, 77);
  backdrop-filter: blur(30px);
  font-size: 14px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
}
.navbar input,
.navbar button {
  font-size: 14px;
}
.navbar-brand {
  font-size: 15px;
}

span.navbar-toggler-icon {
  width: 28px; /* Ajusta según sea necesario */
  height: 25px; /* Ajusta según sea necesario */
}

button.navbar-toggler.collapsed {
  background-color: transparent;
}
button.navbar-toggler {
  background-color: rgb(51, 57, 77);
  border: 1px solid var(--blanco-6);
}

button.navbar-toggler:active,
button.navbar-toggler:focus {
  box-shadow: none;
}

.nav-link.active {
  border-bottom: 1px solid var(--blanco-1);
}

.navbar-brand {
  color: var(--blanco-1);
}

input.form-control.me-sm-2 {
  background-color: var(--blanco-6);
  box-shadow: none;
  border: none;
}

form.d-flex button {
  background-color: var(--verde-azul-3);
  height: 35px;
  border: none;
  margin-left: 10px;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  padding: 0 10px;
}

form.d-flex button:hover {
  background-color: var(--verde-azul-4);
}
.form-control {
  height: 35px;
}

div.dropdown-menu.show a:hover {
  background-color: rgb(74, 79, 95);
  border-radius: 6px;
}
div.dropdown-menu.show a {
  margin: 0px;
  padding: 10px 10px 10px 10px;
}
div.dropdown-menu.show {
  background-color: rgb(51, 57, 77);
  backdrop-filter: blur(30px);
  padding: 0px 0px 0px 0px;
}
div.dropdown-divider {
  margin: 0px;
}
