/* Contenedor general del NavBar */
.navbar {
  background-color: rgb(40, 43, 62);
  padding: 0.5rem 1rem; /* Espaciado interno reducido */
  border-radius: 6px; /* Esquinas ligeramente redondeadas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}

/* Estilo para el enlace de la marca (brand) */
.navbar-brand {
  color: #404040; /* Color del texto */
  font-weight: bold;
  font-size: 1.1rem; /* Tamaño de fuente ligeramente menor */
}

/* Estilo para los enlaces de navegación */
.navbar-nav .nav-link {
  color: #717171; /* Color del texto */
  /* Espacio entre los enlaces reducido */
  padding: 3px 10px 3px 10px !important;
  margin-bottom: 0,5rem;
}

/* Estilo para los enlaces de navegación al pasar el mouse */
.navbar-nav .nav-link:hover {
  background-color: rgba(160, 160, 160, 0.2);
  border-radius: 20px; /* Bordes redondeados */
  padding: 3px 10px 3px 10px !important;
}

/* Estilo para los enlaces de navegación activos */
.navbar-nav .nav-link.active {
  color: rgb(244, 244, 244); /* Color del texto del enlace activo */
  background-color: rgb(31, 139, 163);
  border-radius: 20px; /* Bordes redondeados */
  padding: 3px 10px 3px 10px;
}

/* Estilo para el botón del toggler (para dispositivos móviles) */
.navbar-toggler {
  border: none; /* Sin borde */
  background-color: rgb(28, 125, 146); /* Color de fondo */
}

/* Estilo para el icono del toggler */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  width: 1.5rem; /* Ajuste de tamaño */
  height: 1.5rem; /* Ajuste de tamaño */
}

/* Opcional: Ajustes para centrar el contenido verticalmente */
.navbar-collapse {
  justify-content: flex-end; /* Alinea el contenido al final (derecha) */
}
.nav-link {
  padding-left: 1rem;
}
