:root {
  --blanco-1: #e9e9e9;
  --blanco-2: #f3f3f3;
  --blanco-3: #ebebeb;
  --blanco-4: #d4d4d4;
  --blanco-5: #d4d4d47f;
  --blanco-6: #d4d4d446;
  --blanco-7: #d4d4d442;

  --negro-1: #1b1b1b;
  --negro-2: #272727;
  --negro-3: #2e2e2e;
  --negro-4: #2e2e2e9c;
  --negro-5: #4e4e4e9c;

  --oscuro-1: #27272757;
  --oscuro-2: #14141457;

  --gris-1: #2c2c2c;
  --gris-2: #3f3f3f;
  --gris-3: #525252;
  --gris-4: #7e7e7e;
  --gris-5: #b4b4b4;
  --gris-5: #d7d7d7;

  --azul-1: #2b2d79;
  --azul-2: #3a3cad;
  --azul-3: #363fc7;

  --verde-azul-1: #237049; /* Un tono más claro */
  --verde-azul-2: #258354; /* Un tono más oscuro */
  --verde-azul-3: #23965c; /* Otra variante */
  --verde-azul-4: #23a162; /* Otra variante */
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  background: url('assets/fondo2.svg') no-repeat center center fixed;
  background-size: cover;
}

