footer {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: rgb(51, 57, 77);
  backdrop-filter: blur(30px);
}
.section-iconos {
  display: flex;
  justify-content: center;
}
.section-iconos a {
  border: none;
  border-radius: 20px;
}
div.div-copyright {
  background-color: var(--oscuro-2);
}

footer a.text-white:hover {
  color: #ddd;
  text-decoration: none;
}

#footer-input-correo {
  border-radius: 6px;
  background-color: var(--oscuro-2);
  border: none;
  color: var(--blanco-1);
}
#footer-input-correo:focus {
  background-color: var(--oscuro-1);
  box-shadow: none;
}
